/design
/skills
/plan

#CLAUDE
./claude
AGENTS.md
CLAUDE.md
GUIDE.md

.DS_Store
*.DS_Store
Thumbs.db
.env

#graphify-out
/graphify-out
/graphify-out/cache

/report_mau
/tmp
/report/tmp/
/report/Chuong/*.bib
/report/Chuong/*.xml
/report/Chuong/*.out
/report/Chuong/*.fls
/report/Chuong/*.aux
/report/Chuong/*.log
/report/Chuong/*.toc
/report/Chuong/*.fdb_latexmk
/report/Chuong/*.synctex.gz
/report/Chuong/*.blg
/report/Chuong/*.bbl
/report/*.bib
/report/*.xml
/report/*.out
/report/*.fls
/report/*.aux
/report/*.log
/report/*.toc
/report/*.fdb_latexmk
/report/*.synctex.gz
/report/*.blg
/report/*.bbl
/report/*.lof
/report/*.lot
/dummy_data
.graphifyignore