/design
/skills
/plan

#CLAUDE
./claude
AGENTS.md
CLAUDE.md
GUIDE.md

.DS_Store
*.DS_Store
Thumbs.db
.env

#graphify-out
/graphify-out
/graphify-out/cache

/report_mau
/report
/dummy_data
.graphifyignore